.answer {
  margin-bottom: 20px;
}
.answer_border {
  padding-bottom: 28px;
  border-bottom: 1px solid gray;
  margin-bottom: 28px;
}
.answer_border .question {
  margin-top: 20px;
}
.answer__wrapper {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.4;
  color: #000;
  background-color: #FFF;
  padding: 16px 20px;
  border-radius: 12px;
}