.count {
  font-weight: 800;
  font-size: 68px;
  line-height: 1.18;
}
.count_1 {
  color: #D3E0B1;
}
.count_2 {
  color: #B0D6E6;
}
.count_3 {
  color: #D9D5C6;
}
.count_4 {
  color: #EFBEBB;
}
.count_5 {
  color: #B1E3BF;
}
.count_6 {
  color: #D3C6DF;
}