.main__request {
  margin-bottom: 20px;
}
.main__title {
  margin-bottom: 20px;
}
.main__question {
  margin-bottom: 20px;
}
.main__first {
  padding-top: 28px;
  padding-bottom: 86px;
  border-bottom: 1px solid gray;
}
.main__second {
  padding-top: 32px;
  padding-bottom: 28px;
}
.main__sixth {
  padding-bottom: 110px;
  border-bottom: 1px solid gray;
}
.main__presentation {
  padding-top: 28px;
  padding-bottom: 426px;
}